@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    --line-color: #e5e7eb;
}

html.dark {
    --line-color: #374151;
}

@layer base {
  * {
    @apply transition-colors duration-300;
  }
}